<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <meta name="google-signin-client_id" content="265713160200-2ig56qos1phdb6ebs3vi2a9mup9qi3l1.apps.googleusercontent.com">


</head>
<body>