{% include 'layouts/header.html' %}
<div class="container">
	<div class="row" >
		<h1>New Menu Item</h1>
	</div>


<form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'post'>

	<div class="row" >
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">Name:</span>
			</div>
			<input type="text" name='name' class="form-control" aria-label="Name:"  aria-describedby="inputGroup-sizing-default">
		  </div>
	</div>
	<div class="row" >
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">Description:</span>
			</div>
			<textarea  type="text" name='description' class="form-control" aria-label="Description:"  aria-describedby="inputGroup-sizing-default"></textarea>
		  </div>
	</div>
	<div class="row" >
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">Price:</span>
			</div>
			<input type="text" size = '8' name='price' class="form-control" aria-label="Price:"  aria-describedby="inputGroup-sizing-default">
			<div class="input-group-append">
				<span class="input-group-text">.00</span>
			  </div>
		  </div>
	</div>
	<div class="row" >
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="inputGroup-sizing-default">Course:</span>
			</div>
		<div class="col-md-2"><input  type ='radio' name='course' value='Appetizer'>Appetizer</div>
		<div class="col-md-2"><input type ='radio' name='course' value='Entree'>Entree</div>
		<div class="col-md-2"><input type ='radio' name='course' value='Dessert'>Dessert</div>
		<div class="col-md-2"><input type ='radio' name='course' value='Beverage'>Beverage</div>
	
		</div>
	</div>

<hr>

<div class="row" >
	<div class="col-md-1" >
<input class="btn btn-primary btn-sm" type='submit' value='Create'>
</div>
<div class="col-md-1" >
<a class="btn btn-light btn-sm" href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
</div>
</div>
</form>
</div>

{% include 'layouts/footer.html' %}